<div class="post-body">
  <%= form_with model: @post, method: :post, url: user_posts_path() do |form| %>
    <div>
      <%= form.text_field :title, class: "form-title", placeholder: "Title" %>
    </div>

    <div>
      <%= form.text_field :text, class: "form-text", placeholder: "Comment" %>
    </div>
   
    <div>
      <%= form.submit %>
    </div>
  <%end%>
</div>
