<div class="post-container">
  <%= render partial: "shared/posts", locals: { post: @post } %>
</div>

<div class="comment-container">
  <% @post.comments.each do |comment| %>
    <%= render partial: "shared/comments", locals: { comment: comment }%>
  <% end %>
</div>


  <%= render partial: "button-comment", locals: { user: @user } %>
